h2 {
  font-family: 'Fredoka One', cursive;
}

.viewTitle {
  display: flex;
  justify-content: center;
}
.btnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  background-color: #4d0302;
  color: #fff;
  border-radius: 8px;
  min-height: 30px;
  min-width: 120px;
  border: none;
  font-family: Inconsolata;
  font-size: 15px;
  text-align: center;
  margin: 10px;
}
.buttonQty {
  background-color: #4d0302;
  color: #fff;
  border-radius: 5px;
  min-height: 20px;
  min-width: 20px;
  border: none;
  font-family: Inconsolata;
  font-size: 15px;
}

.recap {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 700px;
}
