.Panier {
  position: absolute;
  right: 0;
  height: 65%;
  width: 400px;
  background-color: #fffcf0;
  border-radius: 15px;
  border: solid 1px #4d0302;
  display: flex;
  padding-left: 15px;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
